.login-page {

  height: 100vh;

  display: flex;

  justify-content: center;

  align-items: center;

  background:
    linear-gradient(
      135deg,
      #fce4ec,
      #f8bbd0
    );
}

.login-card {

  width: 1000px;

  height: 600px;

  background: white;

  border-radius: 30px;

  overflow: hidden;

  display: flex;

  box-shadow:
    0 10px 40px rgba(0,0,0,0.15);
}

/* LEFT */

.left-section {

  flex: 1;

  background: #fdecef;

  display: flex;

  justify-content: center;

  align-items: center;

  padding: 30px;
}

.left-section img {

  width: 90%;

  max-width: 450px;
}

/* RIGHT */

.right-section {

  flex: 1;

  display: flex;

  flex-direction: column;

  justify-content: center;

  padding: 60px;
}

.right-section h1 {

  font-size: 42px;

  margin-bottom: 10px;

  color: #222;
}

.subtitle {

  color: gray;

  margin-bottom: 40px;

  font-size: 16px;
}

.full-width {

  width: 100%;

  margin-bottom: 25px;
}

.login-btn {

  width: 100%;

  height: 50px;

  border-radius: 12px;

  font-size: 16px;

  margin-top: 10px;
}

.error {

  color: red;

  margin-top: 20px;

  text-align: center;
}

/* RESPONSIVE */

@media(max-width: 900px) {

  .login-card {

    flex-direction: column;

    width: 95%;

    height: auto;
  }

  .left-section {

    display: none;
  }

  .right-section {

    padding: 40px 30px;
  }
}

.brand {

  display: flex;

  align-items: center;

  gap: 12px;

  margin-bottom: 30px;
}

.logo-circle {

  width: 50px;

  height: 50px;

  border-radius: 50%;

  background:
    linear-gradient(
      135deg,
      #ec407a,
      #7e57c2
    );

  color: white;

  display: flex;

  justify-content: center;

  align-items: center;

  font-size: 24px;

  font-weight: bold;
}

.brand h2 {

  margin: 0;

  font-size: 28px;

  font-weight: 700;

  color: #222;
}