<h2 mat-dialog-title>

  {{ data.isEditMode
    ? 'Edit Department'
    : 'Add Department'
  }}

</h2>

<mat-dialog-content>

  <mat-form-field
    appearance="outline"
    class="full-width">

    <mat-label>
      Department Name
    </mat-label>

    <input
      matInput
      [(ngModel)]="
        data.departmentName
      ">

  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions align="end">

  <button
    mat-button
    (click)="close()">

    Cancel

  </button>

  <button
    mat-raised-button
    color="primary"
    (click)="save()">

    Save

  </button>

</mat-dialog-actions>